@model IEnumerable<VathmologioMVC.Models.CourseHasStudent>

@{
    ViewData["Title"] = "Authenticated_Student_Courses_By_Course_Title";
}

<h1>My Scores (Sorted by Course title)</h1>
<hr />
<br />

<p>
    <a asp-action="Authenticated_Student_Courses_By_Semester" class="btn btn-secondary">Sort by Semester</a>
    <a asp-action="Authenticated_Student_Courses_By_Course_Title" class="btn btn-primary">Sort by Course Title</a>
    <a asp-action="Authenticated_Student_Courses_By_Semester_excluding_non_graded" class="btn btn-light">Show only graded Courses</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <b>Course Title</b>
            </th>
            <th>
                <b>Course Semester</b>
            </th>
            <th>
                <b>Grade</b>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseIdCourseNavigation.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseIdCourseNavigation.CourseSemester)
            </td>
            <td>
                    @if (item.GradeCourseStudent >= 0)
                    {
                        @Html.DisplayFor(modelItem => item.GradeCourseStudent)
                    }
                    else
                    {
                            <p>There is no Grade yet..</p>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
