@model VathmologioMVC.Models.MetaData.StudentEdit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegistrationNumber" />
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <select asp-for="RegistrationNumber" class="form-select">
                    <option>@Model.RegistrationNumber</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="form-label mt-4">Username of this Secretary</label>
                <select asp-for="Department" class="form-control">
                    <option>@Model.Department</option>
               </select>
            </div>
            <div class="form-group">
                <label asp-for="UsersUsername" class="form-label mt-4">Username of this Secretary</label>
                <select asp-for="UsersUsername" class="form-control" >
                    <option>@Model.UsersUsername</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
